#add{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  margin-top: 30px;
  right: 30px;
  background: #1f92ac;
  color : white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  transition: 0.25s ease;
}

#animalsList { padding: 20px; }

.bloc{
  background: white;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.bloc h3{
  margin-bottom: 15px;
  font-size: 24px;
  color: #0b7285;
}

.bloc p{ font-size: 17px; }

.edit{
  font-family: 'Poppins', sans-serif;
  background: #1f92ac;
  color : white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  width: 100px;
  transition: 0.25s ease;
}

.del{
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  background: #e63946;
  color : white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  width: 100px;
  transition: 0.25s ease;
}
